<div class="col-12">
    {{#if posts.length}}
    <section>
        {{#each posts as |post|}}
        <div id="user-posts" class="list-group">
            <a class="list-item  flex-row justify-space-between" href="/dashboard/edit/{{post.id}}">
                <div>{{title}}</div>
                <div>{{format_date created_at}}</div>
            </a>
        </div>
        {{/each}}
    </section>
    {{/if}}
</div>
<div class="min-100-vw">
    <a href="/dashboard/new" class="navitems">
        <div class="flex-row justify-center mx">
            <button id="new-post" class="btn1"><i class="fas fa-plus"></i>New Post</button>
        </div>
    </a>
</div>