<div class="col-12">
{{#if posts.length}}
<section>
    {{#each posts as |post|}}
    <div id="user-posts" class="list-group">
        <a class="list-item flex-row justify-space-between align-center" href="">
            {{title}} {{format_date created_at}}
        </a>
    </div>
    {{/each}}
</section>
{{/if}}
 <a href="./new-post.handlebars" class="navitems">
 <button id="new-post" class="btn">New Post</button>
 </a>
 </div>
