<div class="col-12">
    <div class="card">
        <h3 class="card-header">Create New Post</h3>
        <form class="card-body new-post-form">
            <div>
                <label class="form-label" for="post-title">Title</label>
                <input id="post-title" name="post-title" type="text" autofocus="true" class="form-input" />
            </div>
            <div>
                <label class="form-label" for="post-content">Content</label>
                <textarea name="post-content" class="form-input" autofocus="true"></textarea>
            </div>
            <div>
                <button type="submit" class="btn">Create</button>
            </div>
        </form>
    </div>
</div>
<script src="/javascript/add-post.js"></script>