<div class="col-12">
    <div class="card">
        <h3 class="card-header">Sign Up</h3>
        <form  class="card-body signup-form">
            <div>
                <label class="form-label" for="username-signup">Username</label>
                <input id="username-signup" type="text" autofocus="true" class="form-input" />
            </div>
            <div>
                <label class="form-label" for="password-signup">Password</label>
                <input id="password-signup" type="password" autofocus="true" class="form-input" />
            </div>
            <div>
                <button type="submit" class="btn">Sign Up!</button>
                <a href="./login">Login instead</a>
            </div>
        </form>
    </div>
    <script src="/javascript/signup.js"></script>