<div class="col-12">
  {{> post-info post}} 
{{#if loggedIn}}
 <div class="card">
      <h3 class="card-header"></h3>
      <form class="card-body comment-form">
        <label class="form-label">Comment</label>
        <textarea name="comment-body" class="form-input" autofocus="true"></textarea>
        <button type="submit" class="btn">Submit</button>
      </form>
    </div>
    {{/if}}
<div class="comments">
  {{#each post.comments}}
  <section class="comment">
    <div class="meta">
      {{user.username}} on {{format_date created_at}}
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>
</div>
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}